<div class="container">
    <h1 class="text-center">Quotes to bring out the writer in you.</h1>
        <hr>
        <div class="row">
            <div class="col-md-6" id="first">
                <div *ngFor='let quote of quotes;let i = index'>
                    <div>
                        <h4 id={{i}}>{{quote.saying}} read on {{quote.readDate|date|uppercase}}</h4>
                        <button (click)='toggleDetails(i)' class="btn btn-outline-success">See more</button>
                    </div>
                <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isRead) = 'deleteQuote($event,i)'></app-quote-detail>
                </div>
            </div>
        

            <div class="col-md-6">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
        </div> 

        <div class="endings" >
            <br><br><br><br>
            <p><strong>Deborah M. Ingabire</strong></p>
            <p>Nov 2020</p>

        </div>
</div> 